Flask==0.10.1
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.6
Werkzeug==0.9.6
aniso8601==0.82
itsdangerous==0.24
psycopg2==2.5.3
pytz==2014.4
six==1.7.2
uWSGI==2.0.5.1
wsgiref==0.1.2